<component name="ArtifactManager">
  <artifact type="war" name="SpringJpaPostgre:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringJpaPostgre.war">
      <element id="artifact" artifact-name="SpringJpaPostgre:war exploded" />
    </root>
  </artifact>
</component>